<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.5"?>
<plugin>

   <extension point="org.knime.core.DataType">
   	   <DataType
             cellClass="org.rdkit.knime.types.RDKitMolCell2"
             factoryClass="org.rdkit.knime.types.RDKitMolCellFactory">
          <serializer
                cellClass="org.rdkit.knime.types.RDKitMolCell2"
                serializerClass="org.rdkit.knime.types.RDKitMolCell2$RDKitSerializer">
          </serializer>
   	   	  <serializer 
   	   	  		cellClass="org.rdkit.knime.types.RDKitAdapterCell" 
   	   	  		serializerClass="org.rdkit.knime.types.RDKitAdapterCell$RDKitAdapterCellSerializer">
          </serializer>
          <ValueFactory
                deprecated="false"
                cellClass="org.rdkit.knime.types.RDKitMolCell2"
                valueFactoryClass="org.rdkit.knime.types.RDKitMolCellValueFactory">
          </ValueFactory>
          <ValueFactory
                deprecated="false"
                cellClass="org.rdkit.knime.types.RDKitAdapterCell"
                valueFactoryClass="org.rdkit.knime.types.RDKitAdapterCellValueFactory">
          </ValueFactory>
      </DataType>
   </extension>
   
   <extension point="org.knime.core.DataType">
   	   <DataType cellClass="org.rdkit.knime.types.RDKitReactionCell">
          <serializer
                cellClass="org.rdkit.knime.types.RDKitReactionCell"
                serializerClass="org.rdkit.knime.types.RDKitReactionCell$RDKitReactionSerializer">
          </serializer>
          <ValueFactory
                deprecated="false"
                cellClass="org.rdkit.knime.types.RDKitReactionCell"
                valueFactoryClass="org.rdkit.knime.types.RDKitReactionCellValueFactory">
          </ValueFactory>
   	   </DataType>
   </extension>
   
   <extension-point id="org.rdkit.knime.properties.HeaderPropertyHandler" 
   	name="Header Property Handler" schema="schema/org.rdkit.knime.properties.headerpropertyhandler.exsd"/>

   	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.rdkit.knime.types.preferences.RDKitTypesPreferenceInitializer"/>
   	</extension>
   
   <extension point="org.knime.core.DataValueRenderer">
      <dataValue
            valueClass="org.rdkit.knime.types.RDKitMolValue">
         <renderer
               rendererFactoryClass="org.rdkit.knime.types.RDKitMolValueRenderer$Factory"
               suggestAsDefault="true">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.chem.types.SmilesValue">
         <renderer
               rendererFactoryClass="org.rdkit.knime.types.RDKitMolValueRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.chem.types.SdfValue">
         <renderer
               rendererFactoryClass="org.rdkit.knime.types.RDKitMolValueRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
      <dataValue
            valueClass="org.knime.chem.types.SmartsValue">
         <renderer
               rendererFactoryClass="org.rdkit.knime.types.RDKitMolValueRenderer$Factory"
               suggestAsDefault="false">
         </renderer>
      </dataValue>
   </extension>
   
   <extension point="org.knime.workbench.ui.startupMessages">
        <startupMessageProvider class="org.rdkit.knime.RDKitStartupMessageProvider" />
   </extension>
   
   <extension point="org.knime.python.typeextension.knimetopython">
		<type
            id="org.rdkit.knime.types.rdkitmol.knimetopython"
            java-serializer-factory="org.rdkit.knime.types.RDKitMolSerializer$Factory"
            python-deserializer="python/RDKitMolDeserializer.py">
      	</type>   
   </extension>
      
   <extension point="org.knime.python.typeextension.pythontoknime">
		<type
            id="org.rdkit.knime.types.rdkitmol.pythontoknime"
            python-type-identifier="rdkit.Chem.rdchem.Mol"
            python-serializer="python/RDKitMolSerializer.py"
            java-deserializer-factory="org.rdkit.knime.types.RDKitMolDeserializer$Factory">
      	</type>   
   </extension>
   
   <extension point="org.knime.python.typeextension.knimetopython">
		<type
            id="org.rdkit.knime.types.rdkitreaction.knimetopython"
            java-serializer-factory="org.rdkit.knime.types.RDKitReactionSerializer$Factory"
            python-deserializer="python/RDKitReactionDeserializer.py">
      	</type>   
   </extension>
   
   <extension point="org.knime.python.typeextension.pythontoknime">
		<type
            id="org.rdkit.knime.types.rdkitreaction.pythontoknime"
            python-type-identifier="rdkit.Chem.rdChemReactions.ChemicalReaction"
            python-serializer="python/RDKitReactionSerializer.py"
            java-deserializer-factory="org.rdkit.knime.types.RDKitReactionDeserializer$Factory">
      	</type>   
   </extension>
    
   <extension point="org.knime.python.typeextension.pythontoknime">
		<type
            id="org.rdkit.knime.types.rdkitfingerprint.pythontoknime"
            python-type-identifier="rdkit.DataStructs.cDataStructs.ExplicitBitVect"
            python-serializer="python/RDKitFingerprintSerializer.py"
            java-deserializer-factory="org.rdkit.knime.types.RDKitFingerprintDeserializer$Factory">
      	</type>   
   </extension>
    
   <extension point="org.knime.python.typeextension.pythontoknime">
		<type
            id="org.rdkit.knime.types.rdkituintsparseintvect.pythontoknime"
            python-type-identifier="rdkit.DataStructs.cDataStructs.UIntSparseIntVect"
            python-serializer="python/RDKitUIntSparseIntVectSerializer.py"
            java-deserializer-factory="org.rdkit.knime.types.RDKitCountBasedFingerprintDeserializer$Factory">
      	</type>   
   </extension>
    
   <extension point="org.knime.python.typeextension.pythontoknime">
		<type
            id="org.rdkit.knime.types.rdkitintsparseintvect.pythontoknime"
            python-type-identifier="rdkit.DataStructs.cDataStructs.IntSparseIntVect"
            python-serializer="python/RDKitIntSparseIntVectSerializer.py"
            java-deserializer-factory="org.rdkit.knime.types.RDKitCountBasedFingerprintDeserializer$Factory">
      	</type>   
   </extension>
    
   <extension point="org.knime.python.typeextension.pythontoknime">
		<type
            id="org.rdkit.knime.types.rdkitlongsparseintvect.pythontoknime"
            python-type-identifier="rdkit.DataStructs.cDataStructs.LongSparseIntVect"
            python-serializer="python/RDKitLongSparseIntVectSerializer.py"
            java-deserializer-factory="org.rdkit.knime.types.RDKitCountBasedFingerprintDeserializer$Factory">
      	</type>   
   </extension>
   <extension
         point="org.knime.python3.types.PythonValueFactory">
      <Module
            modulePath="python3" moduleName="knime.types.ext.rdkit">
         <PythonValueFactory
               PythonClassName="RDKitMolValueFactory"
               ValueFactory="org.rdkit.knime.types.RDKitMolCellValueFactory">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="RDKitMolAdapterValueFactory"
               ValueFactory="org.rdkit.knime.types.RDKitAdapterCellValueFactory">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="RDKitReactionValueFactory"
               ValueFactory="org.rdkit.knime.types.RDKitReactionCellValueFactory">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="RDKitFingerprintValueFactory"
               ValueFactory="org.knime.core.data.v2.value.DenseBitVectorValueFactory"
               isDefaultPythonRepresentation="false">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="RDKitCountFingerprintValueFactoryUInt"
               ValueFactory="org.knime.core.data.v2.value.DenseByteVectorValueFactory"
               isDefaultPythonRepresentation="false">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="RDKitCountFingerprintValueFactoryInt"
               ValueFactory="org.knime.core.data.v2.value.DenseByteVectorValueFactory"
               isDefaultPythonRepresentation="false">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="RDKitCountFingerprintValueFactoryULong"
               ValueFactory="org.knime.core.data.v2.value.DenseByteVectorValueFactory"
               isDefaultPythonRepresentation="false">
         </PythonValueFactory>
         <PythonValueFactory
               PythonClassName="RDKitCountFingerprintValueFactoryLong"
               ValueFactory="org.knime.core.data.v2.value.DenseByteVectorValueFactory"
               isDefaultPythonRepresentation="false">
         </PythonValueFactory>
      </Module>
   </extension>   
   </plugin>
