<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.knime.workbench.repository.categories">
      <category after="mining" icon="icons/chem.png" level-id="chemistry" name="Chemistry" path="/"/>
      <category icon="icons/translator.png" level-id="translators" name="Translators" path="/chemistry"/>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
      <page category="org.knime.workbench.ui.preferences" class="org.rdkit.knime.preferences.RDKitTypesPreferencePage" id="org.knime.rdkit.preferences" name="Chemistry"/>
   </extension>

<extension point="org.eclipse.help.toc">
<toc extradir="html" file="tocs/translators.xml"/>
<toc extradir="html" file="tocs/chemistry.xml"/>
</extension>
</plugin>
