<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/chemistry/rdkit"
            factory-class="org.rdkit.knime.nodes.canonsmiles.RDKitCanonicalSmilesNodeFactory"
            id="org.rdkit.knime.nodes.canonsmiles.RDKitCanonicalSmilesNodeFactory"/>
      <node
            category-path="/chemistry/rdkit"
            factory-class="org.rdkit.knime.nodes.rdkfingerprint.RDKitFingerprintNodeFactory"
            id="org.rdkit.knime.nodes.rdkfingerprint.RDKitFingerprintNodeFactory"/>
      <node
            category-path="/chemistry/rdkit"
            factory-class="org.rdkit.knime.nodes.rdkit2molecule.RDKit2MoleculeConverterNodeFactory"
            id="org.rdkit.knime.nodes.rdkit2molecule.RDKit2MoleculeConverterNodeFactory"/>
      <node
            category-path="/chemistry/rdkit"
            factory-class="org.rdkit.knime.nodes.molecule2rdkit.Molecule2RDKitConverterNodeFactory"
            id="org.rdkit.knime.nodes.molecule2rdkit.Molecule2RDKitConverterNodeFactory"/>
      <node
            category-path="/chemistry/rdkit"
            factory-class="org.rdkit.knime.nodes.substructfilter.RDKitSubstructFilterNodeFactory"
            id="org.rdkit.knime.nodes.substructfilter.RDKitSubstructFilterNodeFactory"/>
      <node
            category-path="/chemistry/rdkit"
            factory-class="org.rdkit.knime.nodes.onecomponentreaction.RDKitOneComponentReactionNodeFactory"
            id="org.rdkit.knime.nodes.onecomponentreaction.RDKitOneComponentReactionNodeFactory"/>
      <node
            category-path="/chemistry/rdkit"
            factory-class="org.rdkit.knime.nodes.twocomponentreaction.RDKitTwoComponentReactionNodeFactory"
            id="org.rdkit.knime.nodes.twocomponentreaction.RDKitTwoComponentReactionNodeFactory"/>


   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Nodes using RDKit"
            icon="icons/category_rdkit.png"
            level-id="rdkit"
            name="RDKit"
            path="/chemistry">
      </category>
   </extension>
   
</plugin>
