<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.knime.workbench.repository.nodes">
      <node category-path="/community/rdkit" factory-class="org.rdkit.knime.nodes.molecule2rdkit.Molecule2RDKitConverterNodeFactory" id="org.rdkit.knime.nodes.molecule2rdkit.Molecule2RDKitConverterNodeFactory"/>
      <node after="org.rdkit.knime.nodes.molecule2rdkit.Molecule2RDKitConverterNodeFactory" category-path="/community/rdkit" factory-class="org.rdkit.knime.nodes.rdkit2molecule.RDKit2MoleculeConverterNodeFactory" id="org.rdkit.knime.nodes.rdkit2molecule.RDKit2MoleculeConverterNodeFactory"/>
      <node after="org.rdkit.knime.nodes.rdkit2molecule.RDKit2MoleculeConverterNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.inchi2rdkit.RDKitInChI2MoleculeNodeFactory" id="org.rdkit.knime.nodes.inchi2rdkit2.RDKitInChI2MoleculeNodeFactory"/>
      <node after="org.rdkit.knime.nodes.inchi2rdkit2.RDKitInChI2MoleculeNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.rdkit2inchi.RDKitMolecule2InChINodeFactory" id="org.rdkit.knime.nodes.rdkit2inchi.RDKitMolecule2InChINodeFactory"/>
	  <node after="org.rdkit.knime.nodes.rdkit2inchi.RDKitMolecule2InChINodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.iupac2rdkit.RDKitIUPACToRDKitNodeFactory" id="org.rdkit.knime.nodes.iupac2rdkit.RDKitIUPACToRDKitNodeFactory"/>
      <node after="org.rdkit.knime.nodes.iupac2rdkit.RDKitIUPACToRDKitNodeFactory" category-path="/community/rdkit" factory-class="org.rdkit.knime.nodes.canonsmiles.RDKitCanonicalSmilesNodeFactory" id="org.rdkit.knime.nodes.canonsmiles.RDKitCanonicalSmilesNodeFactory"/>      
      <node after="org.rdkit.knime.nodes.canonsmiles.RDKitCanonicalSmilesNodeFactory" category-path="/community/rdkit/experimental" factory-class="org.rdkit.knime.nodes.murckoscaffold.RDKitMurckoScaffoldNodeFactory" id="org.rdkit.knime.nodes.murckoscaffold.RDKitMurckoScaffoldNodeFactory"/>
      <node after="org.rdkit.knime.nodes.murckoscaffold.RDKitMurckoScaffoldNodeFactory" category-path="/community/rdkit/experimental" factory-class="org.rdkit.knime.nodes.rgroups.RDKitRGroupsNodeFactory" id="org.rdkit.knime.nodes.rgroups.RDKitRGroupsNodeNodeFactory"/>
      <node after="org.rdkit.knime.nodes.rgroups.RDKitRGroupsNodeNodeFactory" category-path="/community/rdkit/experimental" factory-class="org.rdkit.knime.nodes.molfragmenter.RDKitMolFragmenterNodeFactory" id="org.rdkit.knime.nodes.molfragmenter.RDKitMolFragmenterNodeFactory"/>
      <node after="org.rdkit.knime.nodes.molfragmenter.RDKitMolFragmenterNodeFactory" category-path="/community/rdkit" factory-class="org.rdkit.knime.nodes.addcoordinates.RDKitAddCoordinatesNodeFactory" id="org.rdkit.knime.nodes.addcoordinates.RDKitAddCoordinatesNodeFactory"/>
      <node after="org.rdkit.knime.nodes.canonsmiles.RDKitCanonicalSmilesNodeFactory" category-path="/community/rdkit" factory-class="org.rdkit.knime.nodes.rdkfingerprint.RDKitFingerprintNodeFactory" id="org.rdkit.knime.nodes.rdkfingerprint.RDKitFingerprintNodeFactory"/>
      <node after="org.rdkit.knime.nodes.rdkfingerprint.RDKitFingerprintNodeFactory" category-path="/community/rdkit" factory-class="org.rdkit.knime.nodes.substructfilter.RDKitSubstructFilterNodeFactory" id="org.rdkit.knime.nodes.substructfilter.RDKitSubstructFilterNodeFactory"/>
      <node after="org.rdkit.knime.nodes.substructfilter.RDKitSubstructFilterNodeFactory" category-path="/community/rdkit" factory-class="org.rdkit.knime.nodes.onecomponentreaction2.RDKitOneComponentReactionNodeFactory" id="org.rdkit.knime.nodes.onecomponentreaction2.RDKitOneComponentReactionNodeFactory"/>
      <node after="org.rdkit.knime.nodes.onecomponentreaction.RDKitOneComponentReactionNodeFactory" category-path="/community/rdkit" factory-class="org.rdkit.knime.nodes.twocomponentreaction2.RDKitTwoComponentReactionNodeFactory" id="org.rdkit.knime.nodes.twocomponentreaction2.RDKitTwoComponentReactionNodeFactory"/>
      <node after="org.rdkit.knime.nodes.substructfilter.RDKitSubstructFilterNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.multiplesubstrucfilter.RDKitDictSubstructFilterNodeFactory" id="org.rdkit.knime.nodes.multiplesubstrucfilter.RDKitDictSubstructFilterNodeFactory"/>
      <node after="org.rdkit.knime.nodes.rgroups.RDKitMolFragmenterNodeFactory" category-path="/community/rdkit/experimental" factory-class="org.rdkit.knime.nodes.diversitypicker.RDKitDiversityPickerNodeFactory" id="org.rdkit.knime.nodes.diversitypicker.RDKitDiversityPickerNodeFactory"/>
      <node after="org.rdkit.knime.nodes.twocomponentreaction.RDKitTwoComponentReactionNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.saltstripper.RDKitSaltStripperNodeFactory" id="org.rdkit.knime.nodes.saltstripper.RDKitSaltStripperNodeFactory"/>
      <node after="org.rdkit.knime.nodes.saltstripper.RDKitSaltStripperNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.functionalgroupfilter.FunctionalGroupFilterNodeFactory" id="org.rdkit.knime.nodes.functionalgroupfilter.FunctionalGroupFilterNodeFactory"/> 
      <node after="org.rdkit.knime.nodes.functionalgroupfilter.FunctionalGroupFilterNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.descriptorcalculation.DescriptorCalculationNodeFactory" id="org.rdkit.knime.nodes.descriptorcalculation.DescriptorCalculationNodeFactory"/> 
      <node after="org.rdkit.knime.nodes.descriptorcalculation.DescriptorCalculationNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.substructurecounter.SubstructureCounterNodeFactory" id="org.rdkit.knime.nodes.substructurecounter.SubstructureCounterNodeFactory"/> 
      <node after="org.rdkit.knime.nodes.substructurecounter.SubstructureCounterNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.fingerprintwriter.RDKitFingerprintWriterNodeFactory" id="org.rdkit.knime.nodes.fingerprintwriter.RDKitFingerprintWriterNodeFactory"/>
      <node after="org.rdkit.knime.nodes.fingerprintwriter.RDKitFingerprintWriterNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.fingerprintreader.RDKitFingerprintReaderNodeFactory" id="org.rdkit.knime.nodes.fingerprintreader.RDKitFingerprintReaderNodeFactory"/>
      <node after="org.rdkit.knime.nodes.moleculesubstructfilter.RDKitMoleculeSubstructFilterNodeFactory" category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.moleculesubstructfilter.RDKitMoleculeSubstructFilterNodeFactory" id="org.rdkit.knime.nodes.moleculesubstructfilter.RDKitMoleculeSubstructFilterNodeFactory"/>
      <node category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.highlightingatoms.RDKitHighlightingAtomsNodeFactory" id="org.rdkit.knime.nodes.highlightingatoms.RDKitHighlightingAtomsNodeFactory"/>
	  <node category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.smilesheaders.RDKitSmilesHeadersNodeFactory" id="org.rdkit.knime.nodes.smilesheaders.RDKitSmilesHeadersNodeFactory"/>
      <node category-path="/community/rdkit" expert-flag="false" factory-class="org.rdkit.knime.nodes.interactivetable.RDKitInteractiveTableNodeFactory" id="org.rdkit.knime.nodes.interactivetable.RDKitInteractiveTableNodeFactory"/>
</extension>
   <extension point="org.knime.workbench.repository.categories">
      <category description="Nodes using RDKit" icon="icons/category_rdkit.png" level-id="rdkit" name="RDKit" path="/community">
      </category>
      <category description="Experimental nodes" icon="icons/category_rdkit.png" level-id="experimental" name="Experimental" path="/community/rdkit">
      </category>
   </extension>
   <extension point="org.knime.product.splashExtension">
      <splashExtension icon="icons/rdkit_splash.png" id="rdkit" tooltip="RDKit">
      </splashExtension>
   </extension>
   
</plugin>
